*{
    margin: 0;
    padding: 0;
}
#data_inicial{
    width: 70%;
}

#data_final{
    width: 70%;
}

input{
    border: solid 1px lightgray;
    border-radius: 4px;
}

.col-5 input, .col-5 textarea{
    width: 90%;
}

.col-6 input, .col-6 textarea{
    width: 90%;
}

select{
    border: solid 1px lightgray;
    border-radius: 4px;
}