*{
    margin: 0;
    padding: 0;
}
#data_inicial{
    width: 70%;
}

#data_final{
    width: 70%;
}

input{
    border: solid 1px lightgray;
    border-radius: 4px;
}

.col-5 input{
    width: 90%;
}